@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.header {
  animation: 1s ease-out 0s 1 slideInFromTop forwards;
}

.nav a {
  transition: all .2s ease-in-out;
  opacity: .8;
  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }
}

.section.active > .page > div {
  animation: 1s ease-out 0s 1 fadeIn forwards;
}

.section:not(.active) .page > div {
  animation: 0.5s ease-out 0s 1 fadeOut forwards;
}

.section.active .slide.active > .page > div {
  animation: 1s ease-out 0s 1 fadeIn forwards;
}

.slide:not(.active) > .page > div {
  animation: 0.5s ease-out 0s 1 fadeOut forwards;
}