.no-js {
  display: none;
}

$base-font-family: 'Open Sans', sans-serif;
$secondary-font-family: "Open Sans Condensed", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 1em 0;
}

.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section0 {
  background-image: url("https://res.cloudinary.com/peakeventscatering/image/upload/c_scale,f_auto,h_800,q_auto/v1492989351/1_rfkb2k.png");
}

#section1 {
  background-image: url("https://res.cloudinary.com/peakeventscatering/image/upload/c_scale,f_auto,h_800,q_auto/v1492989362/8_tb8wg6.png");
}

#section2 {
  background-image: url("https://res.cloudinary.com/peakeventscatering/image/upload/c_scale,f_auto,h_800,q_auto/v1492989324/3_pgha5p.png");
}

html {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  // .page {
  //   background-color: rgba(255,255,255,0.1);
  // }

}

body {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

html.dark {
  body {
    background-color: rgba(0,0,0,0.2);
    color: #fff;

    .page {
      background-color: rgba(0,0,0,0.2);
    }

    a {
      color: #fff;
    }
  }
}

html.stock {
  background-image: url("http://res.cloudinary.com/peakeventscatering/image/upload/f_auto,q_auto/v1492635694/chef.jpg");

  #section0,
  #section1,
  #section2 {
    background-image: none;
  }

}
